on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug
      print_tags:
        description: "True to print to STDOUT"
        required: true
        type: boolean
      tags:
        description: "Test scenario tags"
        required: true
        type: string

jobs:
  prepare-loglevel:
    runs-on: ubuntu-latest
    steps:
      - name: Set loglevel
        id: set-loglevel
        run: |
          if [ "${{ inputs.loglevel }}" == "info" ]; then
            echo "info log is sending"
            echo "selected-loglevel=info" >> "$GITHUB_OUTPUT"
          elif [ "${{ inputs.loglevel }}" == "warning" ]; then
            echo "Warning!!"
            echo "selected-loglevel=warning" >> "$GITHUB_OUTPUT"
          elif [ "${{ inputs.loglevel }}" == "debug" ]; then
            echo "debug log is sending"
            echo "selected-loglevel=debug" >> "$GITHUB_OUTPUT"
          else 
            echo "log is not found"
          fi

    outputs:
      selected-loglevel: ${{ steps.set-loglevel.outputs.selected-log }}

  print-loglevel:
    needs: prepare-loglevel
    runs-on: ubuntu-latest
    steps:
      - name: Print loglevel
        id: print-loglevel
        run: echo "This loglevel is $( needs.prepare-loglevel.outputs.selected-loglevel )"
