on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug
      print_tags:
        description: "True to print to STDOUT"
        required: true
        type: boolean
      tags:
        description: "Test scenario tags"
        required: true
        type: string

jobs:
  prepare-loglevel:
    runs-on: ubuntu-latest
    steps:
      - name: Set loglevel
        id: set-loglevel
        run: |
          if [ "${{ inputs.loglevel }}" == "info" ]; then
            echo "Info log is sending"
            echo "SELECTED-LOGLEVEL=info" >> "$GITHUB_OUTPUT"
          elif [ "${{ inputs.loglevel }}" == "warning" ]; then
            echo "Warning log is sending!!"
            echo "SELECTED-LOGLEVEL=warning" >> "$GITHUB_OUTPUT"
          elif [ "${{ inputs.loglevel }}" == "debug" ]; then
            echo "Debug log is sending"
            echo "SELECTED-LOGLEVEL=debug" >> "$GITHUB_OUTPUT"
          else 
            echo "Unknown log is sending"
          fi

    outputs:
      selected-loglevel: ${{ steps.set-loglevel.outputs.SELECTED-LOGLEVEL }}

  print-loglevel:
    needs: prepare-loglevel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print loglevel
        id: print-loglevel
        run: echo "${{needs.prepare-loglevel.outputs.selected-loglevel}}"
