on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug
      print_tags:
        description: "True to print to STDOUT"
        required: true
        type: boolean
      tags:
        description: "Test scenario tags"
        required: true
        type: string
      environment:
        description: "Environment to run tests against"
        type: environment
        required: true

jobs:
  prepare-loglevel:
    runs-on: ubuntu-latest
    steps:
      - name: Set loglevel
        id: set-loglevel
        run: |
          if [ "${{ inputs.loglevel }}" == "info" ]; then
            echo "info log is sending"
            echo "SET-LOGLEVEL=info" >> "$GITHUB_OUTPUT"
            elif [ "${{ inputs.loglevel }}" == "warning" ]; then
            echo "Warning"
            echo "SET-LOGLEVEL=warning" >> "$GITHUB_OUTPUT"
            elif [ "${{ inputs.loglevel }}" == "debug" ]; then
            echo "debug log is sending"
            echo "SET-LOGLEVEL=debug" >> "$GITHUB_OUTPUT"
          else 
            echo "log is not found"
          fi

    outputs:
      set-loglevel: ${{ steps.SET-LOGLEVEL.outputs.selected-loglevel }}

  print-loglevel:
    runs-on: ubuntu-latest
    needs: prepare-loglevel
    steps:
      - name: Print loglevel
        id: print-loglevel
        run: echo "${{needs.prepare-loglevel.outputs.set-loglevel}}"
